:root {
    --blue: #0a80c0;
    --blue-light: #b8e2fa;
    --dark-blue: #103b52;
    --black-blue: #050f14;
    --off-white: #edf2f5;
    --gray: #d7e1e6;
    --quartGray: #b1babe;
    --medGray: #5a6164;
    --yellow-white: #f8f8ef;
    --red: #E12C38;
    --yellow: #fffb18;

    --std-shadow: 2px 2px 10px var(--dark-blue);
    --small-shadow: 0 0 5px var(--black-blue);

    --blackBorder: 10px solid var(--black-blue);
    --thinBlackBorder: 2px solid var(--black-blue);

    --body-font: Creato;
    --bit-font: pixel-operator;
    --block-font: 'nk47', monospace;
    --poke-font: pocket-monk;
}

@font-face {
    font-family: "Ketchum";
    src: url(./fonts/Ketchum.otf);
}

@font-face {
  font-family: "pocket-monk";
  src: url("./fonts/PocketMonk-15ze.ttf");
}

@font-face {
  font-family: "pixel-operator";
  src: url(./fonts/PixelOperator.ttf);
}

@font-face {
    font-family: "nk47";
    src: url(./fonts/nk57-monospace-no-eb.otf);
}

@font-face {
    font-family: "Creato";
    src: url(./fonts/CreatoDisplay-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    /* color: var(--black-blue); */
}

html {
    background-color: var(--off-white);
}

button {
  cursor: pointer;
}

button:disabled {
  color: var(--black-blue);
}

/* Text */

.title {
    position: relative;
    z-index: 2;
    font-family: var(--poke-font);
    letter-spacing: 5px;
    font-size: 9rem;
    color: var(--blue);
    -webkit-text-stroke: 1px var(--yellow);
    text-shadow: var(--std-shadow);
}

.bit-title {
    font-size: 2rem;
    font-family: var(--bit-font);
    color: var(--yellow-white);
}

.soft-title {
  color: var(--medGray);
  font-family: var(--bit-font);
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Blocks ********************************************************/

.info-block {
  background-color: var(--off-white);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.col-between {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.col-start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-start {
  display: flex;
  flex-wrap: wrap;
}

.main-body {
  text-align: center;
  padding: 70px 10% 20px;
}

.divide-half {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 20px 10px 0;
}

.divide-half.col-between {
  width: auto;
}

.entry-view {
  margin-top: 60px;
}

/* Header */

.title-block {
  position: relative;
  padding: 20px 20px 70px;
  background-color: var(--red);
  text-align: center;
  border-bottom: var(--blackBorder);
}

.ball-dot {
  background-color: var(--yellow-white);
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  border: var(--blackBorder);
}

.ball-dot .ball-dot {
  width: 70px;
  height: 70px;
  bottom: -30px;
  transform: translate(-50%, -50%);
  border-width: 5px;
}

.search-block {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.search-bar:placeholder-shown {
  color: var(--medGray);
}

.results-container {
    position: relative;
    width: 100%;
}

.results {
  box-sizing:border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  max-height: 300px;
  margin: 0 auto;
  overflow-y: scroll;
  text-align: left;
  border: var(--thinBlackBorder);
  border-top: none;
  box-shadow: var(--std-shadow);
}

.results::-webkit-scrollbar {
    background-color: var(--off-white);
}

.results::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 2px;
    width: 2px;
}

.results div {
    font-size: 1.3rem;
    padding: 10px;
}

.results div:focus {
    background-color: var(--blue-light);
}

.search-bar {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 10px;
    border: var(--thinBlackBorder);
}

.search-bar:focus {
  box-shadow: var(--std-shadow);
}

/* Loading **********************************************************/

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dex Entry ********************************************************/

.entry-block {
    min-height: 450px;
    padding: 10px;
    text-align: left;
    margin: 0 0 20px;
    border-radius: 10px;
    background-color: var(--gray);
    box-shadow: var(--std-shadow);
}

/*** Top Block ******************************/

#entry-top {
  flex-wrap: wrap-reverse;
}

#entry-top-L {
  display: flex;
  padding: 10px 10px 0;
  flex-grow: 1;
  max-width: calc(100% - 340px);
}

#entry-top-L .info-block {
  box-sizing: border-box;
  width: 100%;
}

#entry-top-L > .info-block {
  flex-grow: 1;
}

#entry-top-R {
  padding: 10px 10px 0;
  width: 300px;
}

.entry-text {
  font-size: 1.2rem;
  text-align: justify;
}

.entry-block .bit-title {
    color: var(--black-blue);
    font-size: 4rem;
    margin-bottom: 10px;
}

.row-between label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.5rem;
}

.dex-select {
    border-radius: 10px;
    background-color: white;
    height: 2rem;
    padding: 0 10px;
    border: var(--thinBlackBorder);
    font-size: 1rem;
}

#info-section {
  margin-top: 0;
}

#stat-container {
  box-sizing: border-box;
  padding-bottom: 0;
}

.stat-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: var(--gray);
    border-radius: 10px;
    text-align: center;
    width: calc(100% / 6 - 10px);
    min-width: 80px;
}

.stat-block .bit-title {
    font-size: 2.5rem;
}

.stat-block .soft-title {
  font-size: 1.5rem;
}

.img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
}

.img-block img {
  width: 260px;
  margin: 60px 20px 20px;
}

.img-block .soft-title {
  position: absolute;
  top: 20px;
  left: 20px;
}

.invisibutton {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.types {
    display: flex;
    justify-content: center;
}

#entry-bottom {
  padding-bottom: 10px;
}

#entry-bottom .info-block {
  padding: 15px;
}

#entry-bottom .info-pill {
  margin: 5px
}

.evo-branch {
  display: flex;
  align-items: center;
}

.evolution-tree .info-pill {
  margin: 10px;
}

.evo-arrow {
  color: var(--medGray);
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

/* Eevee ****************/

#eeveelutions .row-between {
  align-items: center;
}

#eeveelutions .row-between:first-child .evo-arrow,
#eeveelutions .row-between:last-child .evo-arrow {
  margin: 0 10px;
}

#eeveelutions .row-between:first-child .evo-arrow:first-child,
#eeveelutions .row-between:last-child .evo-arrow:last-child {
  transform: rotate(-45deg);
}

#eeveelutions .row-between:first-child .evo-arrow:last-child,
#eeveelutions .row-between:last-child .evo-arrow:first-child {
  transform: rotate(45deg);
}

#eeveelutions .row-start {
  align-items: center;
}

#eeveelutions .row-start:first-child .info-pill:first-child,
#eeveelutions .row-start:last-child .info-pill:first-child,
#eeveelutions .soft-title {
  margin-left: 15px !important;
}

#eeveelutions .evo-arrow {
  width: 10px;
  height: 10px;
}

.eevee-branch,
.eevee-branch > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eevee-branch .info-pill {
  width: 100px;
}

.info-pill {
    border-radius: 50px;
    padding: 2px;
    margin: 0 5px;
    width: 130px;
    text-align: center;
    border: 2px solid black;
    max-height: 5rem;
  }

  .info-pill p {
    font-family: var(--block-font);
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  button.info-pill {
    width: 150px;
    background-color: white;
    box-shadow: inset 0 0 5px var(--medGray);
    /* color: white; */
    border: none;
    margin-right: 25px !important;
    margin-left: 0;
    font-size: 1rem;
    height: 3rem;
    padding: 0;
    padding-right: 10px;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    position: relative;
  }

  button.info-pill:hover {
    box-shadow: inset 0 0 5px var(--dark-blue);
    /* padding-right: 15px;
    margin: 2px 20px 2px 5px !important;
    width: 155px;
    height: calc(3rem + 4px); */
    /* font-size: calc(1rem + 2px); */
  }

  button.info-pill:hover .variant-img {
    height: 165%;
  }

  button.info-pill:disabled {
    background-color: var(--blue-light);
    cursor: default;
  }

  .variant-img {
    height: 150%;
    display: inline;
    position: absolute;
    left: -0.5rem;
  }

  .bug {
    background-color: #8d9b10;
  }
  
  .dark {
    background-color: #443328;
  }
  
  .dragon {
    background-color: #6c56d1;
  }
  
  .electric {
    background-color: #fcbb18;
  }
  
  .fairy {
    background-color: #eca5ed;
  }
  
  .fighting {
    background-color: #85371f;
  }
  
  .fire {
    background-color: #ea3e0d;
  }
  
  .flying {
    background-color: #a1b1f7;
  }
  
  .ghost {
    background-color: #6060b2;
  }
  
  .grass {
    background-color: #64b929;
  }
  
  .ground {
    background-color: #ccac50;
  }
  
  .ice {
    background-color: #a1e6fd;
  }
  
  .normal {
    background-color: #c5c0b7;
  }
  
  .poison {
    background-color: #8a3d8c;
  }
  
  .psychic {
    background-color: #ee4983;
  }
  
  .rock {
    background-color: #baa257;
  }
  
  .steel {
    background-color: #b4b4c2;
  }
  
  .water {
    background-color: #3597f9;
  }

  @media (max-width: 1200px) {
    #entry-top-L {
      max-width: 100%;
    }

    #entry-top-R {
      flex-grow: 1;
      max-width: 100%;
    }

    .img-block {
      max-width: 60%;
    }
  }

  @media (max-width: 800px) {
    .title {
      font-size: 7rem;
    }

    .search-block {
      width: 100%;
    }

    .main-body {
      padding-left: 20px;
      padding-right: 20px;
    }

    .types {
      margin-bottom: 10px;
    }

    .stat-block {
      width: calc(100% / 3 - 10px);
    }

    .entry-block .bit-title {
      font-size: 3rem;
    }

    .stat-block .bit-title {
      font-size: 2rem;
    }

    .stat-block h2 {
      font-size: 1.2rem;
    }
  
  }

  @media (max-width: 600px) {
    .title {
      font-size: 5rem;
      -webkit-text-stroke-width: 3px;
    }

    .bit-title {
      font-size: 1.5rem;
    }

    .img-block {
      box-sizing: border-box;
      max-width: 100%;
    }

    .img-block img {
      box-sizing: border-box;
      width: calc(100% - 40px); 
    }

    .types {
      width: 100%;
    }

    .types .info-pill {
      width: 50%;
    }

    .entry-block {
      text-align: center;
    }

    #version-dropdown {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #genus {
      text-align: left;
    }

    .entry-text {
      text-align: left;
    }

    .stat-block {
      width: calc(50% - 10px);
    }

    .stat-block .bit-title {
      font-size: 2rem;
    }

    .stat-block h2 {
      font-size: 1rem;
    }

    #entry-bottom .info-block {
      padding: 5px;
    }

    #entry-bottom .soft-title {
      padding: 0 10px 10px;
    }

    .evo-branch {
      flex-direction: column;
    }

    .third-stage, 
    .second-stage {
      display: flex;
      justify-content: center;
    }

    .evo-branch .button {
      display: block;
    }



  .evo-arrow {
    margin: 0;
    float: none;
}
  }

  @media (max-width: 350px) {
    .title {
      font-size: 4rem;
    }
  }