:root {
    --blue: #0a80c0;
    --blue-light: #b8e2fa;
    --dark-blue: #103b52;
    --black-blue: #050f14;
    --off-white: #edf2f5;
    --gray: #d7e1e6;
    --medGray: #788185;
    --yellow-white: #f8f8ef;
    --red: #E12C38;
    --yellow: #fffb18;

    --blackBorder: 10px solid var(--black-blue);
    --thinBlackBorder: 2px solid var(--black-blue);

    --body-font: Creato;
}

@font-face {
    font-family: "Ketchum";
    src: url(./fonts/Ketchum.otf);
}

@font-face {
    font-family: "Bittypix";
    src: url(./fonts/Bittypix-Monospace.otf);
}

@font-face {
    font-family: "nk47";
    src: url(./fonts/nk57-monospace-no-eb.otf);
}

@font-face {
    font-family: "Creato";
    src: url(./fonts/CreatoDisplay-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    /* color: var(--black-blue); */
}

html {
    background-color: var(--off-white);
}

button {
  cursor: pointer;
}

button:disabled {
  color: var(--black-blue);
}

/* Text */

.title {
    position: relative;
    z-index: 2;
    font-family: Ketchum;
    font-size: 9rem;
    color: var(--blue);
    -webkit-text-stroke: 1px var(--yellow);
}

.bit-title {
    font-family: Bittypix;
    color: var(--yellow-white);
}

.soft-title {
  color: var(--medGray);
  font-family: nk47;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Blocks */

.title-block {
    position: relative;
    padding: 20px 20px 70px;
    background-color: var(--red);
    text-align: center;
    border-bottom: var(--blackBorder);
}

.ball-dot {
    background-color: var(--yellow-white);
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    border: var(--blackBorder);
}

.ball-dot .ball-dot {
    width: 70px;
    height: 70px;
    bottom: -30px;
    transform: translate(-50%, -50%);
    border-width: 5px;
}

.main-body {
    text-align: center;
    padding: 70px 10% 20px;
}
.search-block {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.search-bar:placeholder-shown {
  color: var(--medGray);
}

.results-container {
    position: relative;
    width: 100%;
}

.results {
  box-sizing:border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
    max-height: 300px;
    margin: 0 auto;
    overflow-y: scroll;
    text-align: left;
    border: var(--thinBlackBorder);
    border-top: none;
    box-shadow: 0 0 5px var(--dark-blue);
}

.results::-webkit-scrollbar {
    background-color: var(--off-white);
    /* box-shadow: inset 0 0 5px var(--blue-light); */
}

.results::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 2px;
    width: 2px;
}

.results div {
    font-size: 1.3rem;
    padding: 10px;
}

.results div:hover {
    background-color: var(--blue-light);
}

.search-bar {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 10px;
    border: var(--thinBlackBorder);
}

.search-bar:focus {
  box-shadow: 0 0 5px var(--dark-blue);
}

/* Dex Entry */

.entry-block {
    box-sizing:border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    /* padding: 20px !important; */
    margin-top: 40px;
    border-radius: 10px;
    background-color: var(--gray);
}

.entry-block p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.entry-block h2 {
    color: var(--dark-blue);
    font-style: italic;
    /* margin-bottom: 20px; */
}

.entry-block .bit-title {
    color: var(--black-blue);
    font-size: 2.5rem;
}

.entry-block img {
    width: 260px;
    margin: 20px;
}

.entry-block > div {
    padding: 20px;
}

.entry-block > div:first-child {
    text-align: left;
    flex-grow: 1;
    max-width: calc(100% - 380px);
}

.entry-block > div:last-child {
    width: 300px;
    /* padding: 20px; */
}

.name-and-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name-and-number .bit-title:last-child {
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.name-and-number label {
  margin-right: 10px;
  font-size: 1rem;
}

.dex-select {
    border-radius: 10px;
    background-color: var(--off-white);
    height: 2rem;
    padding: 0 10px;
    border: var(--thinBlackBorder);
    font-size: 1rem;
}

.stat-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    /* margin-bottom: 20px; */
    background-color: var(--off-white);
    border-radius: 10px;
    text-align: center;
    width: calc(100% / 6 - 10px);
    min-width: 80px;
}

.stat-block .bit-title {
    font-size: 1.5rem;
}

.stat-block h2 {
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.img-block {
    /* padding: 20px; */
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.invisibutton {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.types {
    display: flex;
    justify-content: center;
}

.evolution-block {
  margin-top: 20px;
}

.evolution-tree, 
.evolution-tree > div > div {
  display: flex;
  align-items: center;
}

.evolution-tree .info-pill {
  margin: 10px 20px 10px 0;
}

.evo-arrow {
  height: 2rem;
  margin: 10px 10px 10px 0;
  display: flex;
  align-items: center;
  float: left;
}

.info-pill {
    border-radius: 50px;
    padding: 2px;
    margin: 0 10px;
    width: 130px;
    text-align: center;
    border: 2px solid black;
    max-height: 2rem;
    /* -webkit-text-stroke: 0.1rem black; */
    /* font-weight: 600; */
  }

  .info-pill p {
    font-family: 'nk47', monospace;
    color: white;
    /* -webkit-text-stroke: 2px black; */
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  button.info-pill {
    background-color: var(--off-white);
    margin-right: 20px;
    margin-left: 0;
    font-size: 1rem;
    height: 2rem;
  }

  .bug {
    background-color: #8d9b10;
  }
  
  .dark {
    background-color: #443328;
  }
  
  .dragon {
    background-color: #6c56d1;
  }
  
  .electric {
    background-color: #fcbb18;
    /* color: black; */
  }
  
  .fairy {
    background-color: #eca5ed;
    /* color: black; */
  }
  
  .fighting {
    background-color: #85371f;
  }
  
  .fire {
    background-color: #ea3e0d;
  }
  
  .flying {
    background-color: #a1b1f7;
  }
  
  .ghost {
    background-color: #6060b2;
  }
  
  .grass {
    background-color: #64b929;
  }
  
  .ground {
    background-color: #ccac50;
  }
  
  .ice {
    background-color: #a1e6fd;
    /* color: black; */
  }
  
  .normal {
    background-color: #c5c0b7;
  }
  
  .poison {
    background-color: #8a3d8c;
  }
  
  .psychic {
    background-color: #ee4983;
  }
  
  .rock {
    background-color: #baa257;
  }
  
  .steel {
    background-color: #b4b4c2;
  }
  
  .water {
    background-color: #3597f9;
  }

  @media (max-width: 800px) {
    .title {
      font-size: 7rem;
    }

    .search-block {
      width: 100%;
    }

    .main-body {
      padding-left: 20px;
      padding-right: 20px;
    }

    .entry-block > div:first-child {
      max-width: 100%;
    }

    .entry-block .bit-title {
      font-size: 2rem;
    }

    .stat-block .bit-title {
      font-size: 1.5rem;
    }

    .stat-block h2 {
      font-size: 1.2rem;
    }
  
  }

  @media (max-width: 600px) {
    .title {
      font-size: 5rem;
    }

    .bit-title {
      font-size: 1.5rem;
    }

    .entry-block .bit-title {
      font-size: 1.5rem;
    }

    .stat-block {
      width: calc(100% / 3 - 10px);
    }

    .stat-block .bit-title {
      font-size: 1.2rem;
    }

    .stat-block h2 {
      font-size: 1rem;
    }

    .evolution-tree {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 350px) {
    .title {
      font-size: 4rem;
    }
  }